page-home {
    .toolbar-md-secondary .toolbar-title-md {
        color: #283149;
    }

    .list-md .item-block .item-inner {
        border-bottom: 1px solid #20c1bd;
    }

    .total {
        color: #20c1bd;
    }

    .list-md .item-input:last-child {
        border-bottom: 1px solid #404b69;
        background-color: #20c1bd;
    }

    .text-input-md {
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        color: #283149;
    }

    ion-item-sliding .item {
        position: static;
        padding-left: 8px;
        padding-right: 8px;
    }
}
